.project-container {
  width: 100vw;
  height: auto;
  background-color: black;
  margin-left: -10vw;
}

.project-container h1 {
  font-family: "Raleway", sans-serif;
  color: #fff56c;
  font-size: 5vh;
  font-weight: 900;
}

.list-of-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.figure {
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 40vw;
  height: 40vh;
  text-align: center;
  border-radius: 5px;
}
.figure * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.figure img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.figure .figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 3em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.figure .figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: "";
  opacity: 0;
  background-color: #c5c5c5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.figure h2,
.figure p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
}

.figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.figure p {
  font-weight: 200;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.figure a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
.figure:hover img {
  opacity: 0.35;
}

.figure:hover .figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  border-radius: 5px;
}

.figure:hover .figcaption p {
  opacity: 0.9;
  font-weight: 500;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.figure:hover .figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
