.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Cabin Sketch", cursive;
  font-size: 10vh;
}



.image404{
  margin-top: 10vh;
  width: 30vw;
}

.back-home {
  font-size: 2vh;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  border-bottom: 3px solid white;
  text-transform: uppercase;
  margin-top: 20vh;
}

.back-home:hover {
  color: #ff527c;
  cursor: pointer;
  border-bottom: 3px solid #ff527c;
}