.about-about {
  background-color: black;
  height: auto;
  width: 100vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  color: #fff56c;
  justify-content: space-around;
  align-items: center;
}

.wrap-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  font-family: "Raleway", sans-serif;
  color: white;
}

.hello {
  color: #fff56c;
  font-size: 5vh;
  font-weight: 900;
  margin-top: 5vh;
}

.about-content {
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
  width: 80vw;
  font-size: 3vh;
  text-align: justify;
  color: white;
}

.highlight {
  color: #ff527c;
}

.highlight:hover {
  color: white;
}

.ul-list {
  color: #ffffff;
  font-size: 2.5vh;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}

ul {
  display: inline;
  list-style-type: square;
  list-style-image: url("../../assets/arrow2.png");
  margin: 4vh 3vw 0 3vw;
  overflow: hidden;
  text-align: left;
}

li {
  padding-right: 0.6em;
  margin-top: 10px;
}

li:hover{
  color: #ff527c;
}
