.about-about {
  height: 90vh;
  display: flex;
  flex-direction: row;
  color: #fff56c;
  justify-content: space-around;
  align-items: center;
}

.akansha {
  width: 35vw;
}

.about-container {
  font-family: "Raleway", sans-serif;
  color: white;
}

.hello {
  color: #fff56c;
  font-size: 12vh;
  font-weight: 900;
}

.about-content {
  margin-top: 20px;
  margin-right: 20px;
  width: 60vw;
  text-justify: inter-word;
  font-size: 4vh;
  text-align: justify;
}

.highlight {
  color: #ff527c;
}

.highlight:hover {
  color: white;
}
