.home-container {
  background-color: black;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background:repeating-linear-gradient(45deg, rgb(27, 27, 27) 0px, rgb(27, 27, 27) 97px,rgb(24, 24, 24) 97px, rgb(24, 24, 24) 194px,rgb(20, 20, 20) 194px, rgb(20, 20, 20) 291px) */
}

.home-content {
  color: rgb(255, 255, 255);
}

.home-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 12vh;
  letter-spacing: 0.2rem;
}

.home-heading:hover {
  color: yellowgreen;
}

.akansha {
  width: 10vw;
  height: 35vh;
}
