.home-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: animate infinite 45s;
  overflow: hidden;
}

.home-content {
  color: rgb(255, 255, 255);
  width: 50vw;
}

.home-heading {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 12vh;
  letter-spacing: 0.2rem;
  position: absolute;
  z-index: 100;
}

.home-heading:hover {
  color: yellowgreen;
}

.akansha {
  width: 10vw;
  height: 35vh;
}
