.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 95vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-container {
  outline: none;
  border-top: 2px solid #ff527c;
  border-right: 1px solid #ff527c;
  border-left: 2px solid #ff527c;
  border-bottom: 1px solid #ff527c;
  padding: 7px;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.navbar-contents {
  text-decoration: none;
  color: white;
  margin-left: 40px;
  font-size: 2vh;
  font-weight: 500;
}

.navbar-list {
  font-family: "Raleway", Arial, sans-serif;
  cursor: pointer;
  margin: 1.5vw;
  color: white;
  text-decoration: none;
}

.navbar-list a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.logo{
  color: #ff527c;
}

.logo a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.navbar-list:hover {
  text-decoration: none;
  color: #ff527c;
  border-bottom: 3px solid #ff527c;
  font-weight: 500;
}

/* #fff56c; */

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-media-icon {
  height: 1.3rem;
  margin: 0 15px 0 15px;
  cursor: pointer;
}

.navbar-right:hover > .social-media-icon {
  opacity: 0.4;
}

.navbar-right:hover a > .social-media-icon {
  opacity: 0.4;
}

.navbar-right:hover a > .social-media-icon:hover {
  opacity: 1;
}
