.tech-cards {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  margin: 30px;
  height: 8vh;
  width: 4.5vw;
  align-self: center;
  background-color: rgb(238, 176, 62);
}

.cpp {
  background-color: #00599c;
}

.css {
  background-color: #1572b6;
}

.docker {
  background-color: #2496ed;
}

.git {
  background-color: #2496ed;
}

.html {
  background-color: #e34f26;
}

.js {
  background-color: #f7df1e;
}

.linux {
  background-color: #fcc624;
}

.mongodb {
  background-color: #47a248;
}

.mysql {
  background-color: #4479a1;
}

.node {
  background-color: #339933;
}

.psql {
  background-color: #336791;
}

.react {
  background-color: #61dafb;
}

.reactrouter{
    background-color: #ca4245;
}
