.App {
  text-align: center;
}

.App-header {
  height: 10vh;
  width: 100vw;
  background-color: #000000;
  color: #ff527c;
  z-index: 1;
}

.App-content {
  height: 90vh;
  width: 100vw;
  background-color: black;
  color: aqua;
}

.projects-component-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #000000;
}
.App-footer {
  height: 10vh;
  width: 100vw;
  background-color: rgb(19, 104, 179);
}
