.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.App-header {
  height: 10vh;
  width: 100vw;
  color: #ff527c;
}

.App-content {
  height: 90vh;
  width: 101vw;
  background-color: black;
  color: aqua;
}

.projects-component-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #000000;
  padding: 40px;
}
.about-component-container {
  background-color: #000000;
}

.contact-component-container {
  background-color: #000000;
}

.move-to-top {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  width: 120px;
  height: 20px;
  padding: 10px;
  border-radius: 30px;
  color: limegreen;
  border: 2px solid limegreen;
  font-weight: 600;
  cursor: pointer;
}

.move-to-top:hover{
  background-color: limegreen;
  color: #ffffff;
  font-weight: 900;
}